
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Pedidos</title>
</head>
<body>
    <h1>Consultar Pedidos</h1>
    <form action="/consultar_pedidos" method="post">
        <label for="numero_pedido">Número de Pedido:</label>
        <input type="text" id="numero_pedido" name="numero_pedido"><br><br>
        <label for="nombre_cliente">Nombre del Cliente:</label>
        <input type="text" id="nombre_cliente" name="nombre_cliente"><br><br>
        <input type="submit" value="Consultar Pedido">
        <input type="submit" name="consultar_todos" value="Consultar Todos los Pedidos">
    </form>
</body>
</html>




